
.container{
    width:700px;
    height:700px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(148, 220, 226);
    border-radius: 20px;
}
.top-bar{
    display: flex;
    padding:20px;
    
}
.cityInput{
    
    width:500px;
    height:100px;
    border:none;
    border-radius: 40px;
    
}

.bigger-text{
    font-size:30px;
    padding-left:20px;
}
.search-icon{
    width:100px;
    height:100px;
    background-color: white;
    margin:0px 20px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center; 
    
}
.search{
    width:40px;
    height:40px;   
    cursor:pointer;
}
.center-bar{
    display:flex;
    flex-direction: column;

}
.location{
    font-size:80px;
}
.locationupdate{
    font-size:50px;

}
.condition_icon{
    width:200px;
    height:200px;
    margin:auto;
}
.temperature{
    font-size:80px;
}
.bottom-bar{
    display:flex;
    margin:20px;
    justify-content: space-evenly;
}
.humidity{
    font-size:40px;
    

}
.wind-speed{
    font-size:40px;

}
